  
.container {
  width: 375px;
  display: flex;
  justify-content: center;
  margin-left: 550px;
}

nav {
  position: absolute;
  background-color: #3c3a39;
  height: 92px;
  width: 375px;
  color: whitesmoke;
  justify-content: center;
  top: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.main {
  background-color: #1c1a19;
  height: 590px;
  width: 375px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.headline,
h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.headline,
h4 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  font-style: normal;
}

.headline,
h3 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.vector {
  display: inline-block;
  justify-content: flex-start;
  list-style-type: none;
}

.vector,
a {
  padding-left: 1rem;
}

#logo {
  color: #ff6b00;
}

.header {
  width: 375px;
  display: flex;
}

#humbtn {
  width: 15px;
  padding-top: 30px;
}
